<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Application</title>
  </head>
  <body style="font-family: sans;">
    <div class="Container">
      <!-- left blank -->
      <div></div>

      <!-- body of the Page -->
      <div>
        <div class="App">
          <div>
            <a class="Title" href="<%= BASE_URL %>"><p>Game Base Inventory</p></a>
          </div>
          <div class="HyperLink-Box">
            <a class="HyperLink" href="<%= BASE_URL %>"><p>Home</p></a>
            <a class="HyperLink" href="<%= BASE_URL %>/About"><p>About</p></a>
            <a class="HyperLink" href="<%= BASE_URL %>/Genres"><p>Genres</p></a>
          </div>
        </div>

        <div class="Devider"></div>

        <div style="display: flex; justify-content:center;">
          <div class="GenreForm">
            <div style="text-align: center;">
              <p style="font-size:30px; margin: 0px;">New Genre:</p>
              <div>
                <form method="POST" action="http://localhost:3000/Genres">
                  <input style="margin: 20px;" type="text" id="Genre" name="Genre" required>
                  <br>
                  <button type="submit">+ Add Genre</button>
              </form> 
              </div>  
              <button onclick="goBack()">Go Back</button>   
            </div>       
          </div>
        </div>

        <script>
          function goBack() {
              window.location.href = 'http://localhost:3000/Genres';
          }
        </script>
        
        <div class="Devider"></div>

        <div class="Copyright"><a class="CopyrightLink" href="https://github.com/GeneZijlboot/Inventory-Application"><p>Copyright © Gene Zijlboot</p></a></div>
      </div>

      <!-- right blank -->
      <div></div>
      <style>
        .Container{
          display: grid;
          grid-template-columns: 1.5fr 3fr 1.5fr;
        }

        .Body{
          padding-top: 10px;
          padding-bottom: 20px;
        }

        .App{
          display: flex;
          justify-content: space-between;
        }

        .Title{
          text-decoration: none;
          font-size:30px;
          color: #4d85a6;
        }

        .HyperLink-Box{
          display: flex;
          gap: 35px;
          padding: 15px;
          font-size: 20px;
        }

        .HyperLink {
          position: relative;
          text-decoration: none;
          color: rgb(62, 60, 60);
        }

        .HyperLink:hover {
          color: rgb(62, 60, 60);
        }

        .HyperLink:hover::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 17px;
          left: 0;
          width: 100%;
          border-bottom: 2px solid #4d85a6;
        }

        .GenreForm{
          display: inline-block;
          margin: 50px;
          padding: 20px;
          border:rgb(111, 109, 109) solid 2px;
          border-radius: 25px;
        }

        button{
          border:#4d85a6 solid 2px;
          background-color:#4d85a6;
          border-radius: 15px;
          color: white;
          margin-bottom: 10px;
          font-size: 20px;
          height: 35px;
          width: 150px;
          cursor: pointer;
        }

        button:hover{
          border:#4d85a6 solid 2px;
          background-color:white;
          border-radius: 15px;
          color:#4d85a6;
          margin-bottom: 10px;
          font-size: 20px;
          height: 35px;
          width: 150px;
          cursor: pointer;
        }
        
        .Devider{
          border: solid 1px rgb(111, 109, 109);
        }

        .Copyright{
          display: flex;
          justify-content:center;
        }

        .CopyrightLink{
          text-decoration: none;
          font-size: 25px;
          color: #4d85a6; 
        }
      </style>
    </div>
  </body>
</html>