<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Application</title>
  </head>
  <body>
    <div style="margin: 60px; font-size: 14px; font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;">
      <h1>Inventory Application</h1>
      <a style="text-decoration: none; color: black;" href="https://github.com/GeneZijlboot/Inventory-Application"><h3>Gene Zijlboot</h3></a>
    </div>
  </body>
</html>