<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Application</title>
  </head>
  <body>
    <div style="margin: 50px; font-size: 14px; font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;">
      <div style="display: flex; gap: 10px; font-size: 25px;">
        <a style="text-decoration: none; color: black;" href="http://localhost:3000/"><p>Home</p></a>
        <p>|</p>
        <a style="text-decoration: none; color: black;" href="http://localhost:3000/About"><p>About</p></a>
        <p>|</p>
        <a style="text-decoration: none; color: black;" href="https://github.com/GeneZijlboot/Inventory-Application"><p>Copyright © Gene Zijlboot</p></a>
      </div>
      <p style="font-size: 20px;">Bird Inventory Application</p>
      <p style="font-size: 20px;">Database contains the following:</p>
    </div>
  </body>
</html>