<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Application</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Inventory Application</h1>
    <a href="https://github.com/GeneZijlboot/Inventory-Application"><h3>Gene Zijlboot</h3></a>
  </body>
</html>